body{
margin:0;
font-family:Arial;
background:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
color:white;
}

.logo{
color:orange;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:16px;
}

nav a:hover{
color:orange;
}

.social-icons a{
color:white;
margin-left:10px;
font-size:18px;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
padding:40px;
}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:55px;
color:orange;
}

.hero-text h2{
font-size:20px;
}

.hero-text p{
font-size:18px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:orange;
color:white;
text-decoration:none;
border-radius:5px;
}

.hero-image{
position:relative;
}

.hero-image img{
width:300px;
max-width:100%;
height:auto;
}

.hero-image::before{
content:"";
position:absolute;
width:380px;
height:380px;
background:orange;
border-radius:50%;
z-index:-1;
top:40px;
left:-20px;
}

.container{
padding:60px;
text-align:center;
font-size:large;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
display:inline-block;
width:220px;
}

.project-card{
background:white;
padding:30px;
margin:30px auto;
border-radius:10px;
width:60%;
}

footer{
text-align:center;
padding:10px;
background:black;
color:white;
}

@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
align-items:center;
}

.hero-image img{
width:250px;
margin-top:30px;
}

.hero-text{
margin-bottom:20px;
}


.card{
width:80%;
}

}
.about-page{
background:beige;
}

.skills-page{
background:peachpuff;
}

.education-page{
background:mistyrose;
}

.projects-page{
background:lightpink;
}

.contact-page{
background:lightblue;
}

.image-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
}

.circle-img{
width:180px;
height:180px;
border-radius:50%;
border:4px solid orange;
object-fit:cover;
}

.square-img{
width:500px;
height:200px;
border-radius:10px;
border:4px solid orange;
object-fit:cover;
display:block;
margin:auto;
margin-top:30px;
}